.navigation .menu > a:hover {
    background-color: black;
    color: white;
}
.navigation{
    background-color: white;
}
.content{
    background-color: black;
}
/* mission */
.mission > .item_3 > h2{
    background-color: transparent;
    color:#FF4D4D;
}
@media screen and (max-width: 762px) {
}